@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url(./normalize.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  min-width: 375px;
}

:root {
  --clr-heading: hsl(271, 36%, 24%);
  --clr-text: hsl(270, 7%, 64%);
  --clr-placeHolder: hsl(206, 6%, 79%);
  --clr-chat-left: hsl(276, 55%, 52%);
  --clr-chat-right: hsl(271, 15%, 43%);
  --clr-btn: hsl(271, 36%, 24%);
  --clr-radio: hsl(289, 100%, 72%);
  --clr-white: hsl(0, 0%, 100%);

  --lg: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  --bg-app: hsl(270, 20%, 96%);
  --bg-message: hsl(276, 100%, 81%);
}

body {
  font: 16px "Rubik", sans-serif;
  color: var(--clr-text);
}
